.language-selector{

.language-dropdown{



a {
text-align: center;
  &:active {
    background-color: transparent !important;
    color: inherit !important;
    
  }

  &:hover{
    color: #ff6a00 !important;
  }

}
}

}