

.NewArrival{


    .Table{


        .Banner_5{
            margin-top: 16%;
            background-color: black;
            width: 100%;
            overflow: hidden;
            
            
            img{
                width: 100%;
                height: auto;
                object-fit: cover;
                transition: ease-in-out 0.3s;

                &:hover{
                    transform: scale(1.03);
                    
                }
            }

        }

        



    }




.TwoCarisoulCombine{

    .myRoot{
width: 100% !important;
margin: 0 !important;
    }

.BestSeller{
color: rgb(131, 131, 131);
transition: ease-in-out 0.3s;
&:hover{
    color: #222;
  }

}





.myImgWrap{
    height: 130px;
}



}



}